@tailwind base;

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/overpass-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass';
    src: url('/fonts/overpass-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }